path {
	stroke: crimson;
	stroke-width: 2;
	fill: none;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.svgwrap {
	background-color: lightgrey;
}

@media screen and (max-device-width: 786px) {
	path {
		stroke-width: 4;
	}
	
	.axis path, .axis line {
		stroke-width: 2;
	}
}
