@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    background-color: #F66;
    padding: 0;
    margin: 0;
	position: absolute;
	top: 0;
	font-family: 'PT Serif';
}

div.content, header {
    color: #000;
	visibility: hidden;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

section, header {
	background-color: #999;
}

header {
	text-align: center;
	vertical-align: middle;
	display: block;
	background: #999;
}

#subtitle {
    margin-top: 0;
    padding-top: 0;
	margin: 0;
    border: none;
	font-weight: bold;
	font-style: oblique;
}

nav {
	display: inline;
	position: relative;
}

nav ul {
	display: inline;
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 50px;
	min-height:10px;
	text-align: center;
}

.center {
	text-align: center;
}

#maphere {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	width: calc(100% - 20px);
	margin: 10px;
	visibility: hidden;
}

h2 {
	display: block;
	text-align: center;
	margin: 5px;
			
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
		
	-webkit-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
		
	white-space: nowrap;
	width: 20px;
		
	position: relative;
	left: 30px;
}

section#map {
	display: inline-flex;
}
	
section {
	width: calc(50% - 10px);
	min-height: calc(50% - 10px);
}

@media mobile {
	
}

@media screen and (max-width: 500px) {
	
}

@media screen and (min-width: 501px) {
	div.content, header {
		width: calc(90vw - 10px);
		padding: 5px;
		margin-left: 5vw;
		margin-right: 5vw;
		position: relative;
	}
	
	header {
		height: 100px;
		margin-bottom: 20px;
		margin-top: 5vh;
	}
	
	div.content {
		height: calc(80vh - 140px);
		margin-top: 0;
		margin-bottom: 5vw;
	}
	
	nav {
		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
		bottom: -5px;
	}

	h1 {
		margin-bottom: 0;
		margin-top: 5px;
		padding: 0;
	}
}