@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

/* ANIMATIONS */

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* GENERAL PAGE */
body {
    background-color: #F66;
    padding: 0;
    margin: 0;
	top: 0;
	font-family: 'PT Serif';
	overflow-x: hidden;
	color: #000;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
	width: 100vw;
}

/* HEADING */

header {
	width: calc(90vw - 10px);
	padding: 5px;
	margin-left: 5vw;
	margin-right: 5vw;
	position: relative;	
	height: 100px;
	margin-bottom: 20px;
	margin-top: 5vh;
	background-color: #999;
	text-align: center;
	vertical-align: middle;
	display: block;
	background: #999;
}

#smheader {
	display: none;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 5px 0 15px 0;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid black;
	text-align: center;
	vertical-align: middle;
	background: #999;
}

#subtitle {
    margin-top: 0;
    padding-top: 0;
	margin: 0;
    border: none;
	font-weight: bold;
	font-style: oblique;
}

h1 {
	margin-bottom: 0;
	margin-top: 5px;
	padding: 0;
}

nav {
	width: 100%;
	padding: 0;
	margin: 20px 0 0 0;
	bottom: -5px;
}

*:not(#smheader) > nav {
	display: inline;
	position: relative;
}

#smheader > nav {
	display: block;
	margin-top:0;
	width: 100vw;
}

nav ul {
	display: inline;
	padding: 0;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 50px;
	min-height: 10px;
	text-align: center;
}

/* CONTENT WRAPPERS */

div.ctwrap {
	margin-left: 5vw;
	margin-right: 5vw;
	width: calc(90vw);
	
	padding: 0;
}

div.content {
	margin-top: 0;
	color: #000;
	visibility: hidden;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

/* CONTENT PANELS */
section {
	background-color: #999;
	margin: 5px 0;
	width: calc(100%);
	overflow-y: visible;
}

h2 {
	display: block;
	margin: 5px;
}

figure {
	max-width: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
}

figure > img {
	max-width: 300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right:auto;
	width: calc(100% - 30px);
}

table tbody td:first-child {
	text-align: right;
	width: 60%;
}

/* SPECIFIC FORMATTING */

#presdiv {
	width: calc(100% - 30px);
	
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	
	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}

#ppfig2 {
	display: none;
}

#maphere {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	
	width: calc(100% - 20px);
	margin: 10px;
	visibility: hidden;
}

@media screen and (min-device-width: 768px) and (min-width: 500px) {
	div.ctwrap {
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-box-direction: normal;	
		flex-direction: row;
	}
	
	div.content {
		width: calc(45vw - 5px);
	}
	
	
	#ctleft {
		margin-right: 10px;
		margin-left: 0;
	}
	
	#ctright {
		margin-left: 10px;
		margin-right: 0;
	}
	
	section:not(#maincontent)  {
		display: flex;
	}
	
	*:not(#maincontent) > h2 {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		
		-webkit-transform-origin: left top 0;
		-ms-transform-origin: left top 0;
		transform-origin: left top 0;
		
		white-space: nowrap;
		width: 20px;
		
		position: relative;
		left: 30px;
	}
}

/* FOR MOBILE DEVICES */
@media screen and (max-device-width: 786px) {
	body {
		font-size: 2.5em;
	}
	
	header {
		height: 250px;
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	
	nav li {
		width: 125px;
	}
}